# General
.idea/
.vscode/
__pycache__/
*.pyc
*.pyd
*.pyo
*.db
*.log
*.sqlite3
*.parquet

# Test files
test_*.py
*_test.py
tests/
test/

# Submodules
AITradingCrew/.git/
freqtrade/.git/
yahooquery/.git/

# AITradingCrew
AITradingCrew/resources/
AITradingCrew/config/

# freqtrade
freqtrade/user_data/
freqtrade/build_helpers/*.whl
freqtrade/tradesv3.sqlite
freqtrade/freqtrade.log
freqtrade/docs/assets/
freqtrade/docs/images/
freqtrade/tests/

# yahooquery
yahooquery/uv.lock
yahooquery/demo/
yahooquery/docs/
yahooquery/tests/

# Root level resources
/resources/